ADMIN_USERNAME="admin-username"
ADMIN_PASSWORD="admin-password"

JWT_SECRET="session-secret"

PORT="8000"

MONGODB_URI="mongodb-connection-string"

CLOUDINARY_CLOUD_NAME="dbdtvd1qj"
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"